---
- block:
  - name: "Download ohmyzsh"
    get_url:
      url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
      dest: "{{ ansible_env.HOME }}/install.sh"
      mode: '0755'
  - name: "Check for previous ohmyzsh installation"
    stat:
      path: "{{ ansible_env.HOME }}/.oh-my-zsh"
    register: zsh_directory
  - name: "Install ohmyzsh"
    shell: "{{ ansible_env.HOME }}/install.sh"
    when: not zsh_directory.stat.exists
  - name: "Clean up ohmyzsh installer"
    shell: "rm {{ ansible_env.HOME }}/install.sh"

  - name: "Download Powerlevel10K"
    git:
      repo: "https://github.com/romkatv/powerlevel10k.git"
      dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/themes/powerlevel10k"
      depth: 1

  - name: "Download font: {{ var_font }}"
    get_url:
      url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/{{ var_font }}.zip"
      dest: "{{ ansible_env.HOME }}/{{ var_font }}.zip"
  - name: "Create temp directory for font"
    file:
      path: "{{ ansible_env.HOME }}/{{ var_font }}"
      state: directory
      mode: '0755'
  - name: "Install font files"
    unarchive:
      src: "{{ ansible_env.HOME }}/{{ var_font }}.zip"
      dest: "{{ ansible_env.HOME }}/{{ var_font }}"
  - name: "Move font files to /usr/share/fonts/ directory"
    copy:
      src: "{{ ansible_env.HOME }}/{{ var_font }}/"
      dest: "/usr/share/fonts/{{ var_font }}/"
      force: no
    become: true
    become_method: sudo
  - name: "Clean up font installation files"
    shell: "rm {{ ansible_env.HOME }}/{{ var_font }}.zip && rm -rf {{ ansible_env.HOME }}/{{ var_font }}/"

  - name: "Copy Powerlevel10K configuration file"
    copy:
      src: "{{ role_path }}/files/.p10k.zsh"
      dest: "{{ ansible_env.HOME }}/.p10k.zsh"

  - name: "Copy Z-Shell configuration file"
    copy:
      src: "{{ role_path }}/files/.zshrc"
      dest: "{{ ansible_env.HOME }}/"

  vars:
    var_font: "CascadiaMono"
